*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
body{
    min-height: 100vh;
    background-color: #212121;
}
.container{
    margin: 2rem;
    padding: 10px;
}
h2{
    text-align: center;
}